<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/css/cover.css">-->
<!--    <script src="/js/jquery-slim.min.js"></script>-->
<!--    <script src="/js/popper.min.js"></script>-->
<!--    <script src="/js/bootstrap.bundle.min.js"></script>-->
<!--    <title>Dashboard</title>-->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h1 class="text-center">Dashboard</h1>-->
<!--    <p class="text-center">Choose one of the actions below:</p>-->

<!--    <div class="d-flex justify-content-center mt-4">-->
<!--        <a href="/properties/add" class="btn btn-secondary mx-2">RENTAL</a>-->
<!--        <a href="/properties/list" class="btn btn-primary mx-2">OWNER</a>-->
<!--        <a href="/admin/admin-dashboard" class="btn btn-warning mx-2">ADMIN</a>-->
<!--    </div>-->
<!--</div>-->
<!--<script src="/js/bootstrap.bundle.min.js"></script>-->
<!--</body>-->
<!--</html>-->
